* {
	text-align: center;
}
.navbar-nav{
	display: flex;
	justify-content: space-evenly;
	border-bottom: 2px solid black;
	background-color: #6495ed;
	
	
}
.navbar-nav > a{
	text-decoration: none;
	margin: 1em;
}
